<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Mongo Scraper</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="">Home</a></li>
            <li><a href="">Saved Articles</a></li>
            <a class="waves-effect waves-light btn">Scrape New Articles</a>
        </ul>
    </div>
</nav>

<div class="Jumbotron">
    <h1>Mongo Scraper</h1>
    <h6>New York Times Edition</h6>
</div>

{{#each articles}}

{{/each}}